{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'head'}}
<link rel="stylesheet" href="../../public/css/markdown-github.css">
<script src="../../public/showdown/dist/showdown.min.js"></script>
<script src="/node_modules/showdown/dist/showdown.js"></script>
<style>
  .panel .panel-heading .action i {
    margin-right: 10px;
  }
</style>
{{/block}}

{{block 'body'}}
<section class="container">
  <div class="row">
    <div class="container">
      <div id="content_top">
        <h2 id="content_topic">标题</h2>
        <p id="content_plate" style="color:darkcyan;float:right">板块</p> 
        <span id="content_time">2018-12-22</span>
      </div>
      <hr style="height:5px"/>
      <article class="markdown-body" id="art">
     <!-- <h1 id="_1"><a name="user-content-_1" href="#_1" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>测试</h1>
      <blockquote>
        <p>杨柳青青江水平</p>
      </blockquote>
      <h2 id="_2"><a name="user-content-_2" href="#_2" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>起步</h2>
      <ul>
        <li>123</li>
        <li>456</li>
        <li>789</li>
      </ul>
      <h3 id="_3"><a name="user-content-_3" href="#_3" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>哈哈哈</h3>
      <p>然后这里就开始 <code>hello world</code> ，就用可以了。</p>
      <p>下面是一段代码：</p>
      <pre><code class="javascript">var foo = 'bar'
  console.log(foo)
  </code></pre>
      <h3 id="_4"><a name="user-content-_4" href="#_4" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>嘿嘿</h3>
      <h3 id="_5"><a name="user-content-_5" href="#_5" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>呼呼</h3>
      <h2 id="_6"><a name="user-content-_6" href="#_6" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>是什么</h2>
      <h2 id="_7"><a name="user-content-_7" href="#_7" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>为什么</h2>
      <h2 id="_8"><a name="user-content-_8" href="#_8" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>怎么做</h2>
      <h2 id="_9"><a name="user-content-_9" href="#_9" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>哈哈哈</h2>
-->
    </article>
    <hr/>
      <!--<div class="panel panel-default">
        <div class="panel-heading">
          <span>lipengzhou</span> commented 
          <span>24 minutes ago</span>
          <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
        </div>
        <div class="panel-body">
          评论测试
        </div>
      </div>
      <hr>
      <form>
        <div class="form-group">
          <label for="exampleInputPassword1">添加回复</label>
          <textarea class="form-control" name="" id="" cols="10" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success">回复</button>
      </form>-->
    </div>
  </div>
</section>
{{/block}}
{{block 'script'}}
<script herf="../../node_modules/showdown/dist/showdown.js"></script>
<script>
  $.ajax({
    url: '/getshow',
    type: "get",
    data:  {id: "{{ id }}"},
    success: function (data) {
     // console.log('777777777777')
     // console.log(data)
      if(data.result==1){
      // console.log(data.content)
        var topic = data.content.topic
        var plate = data.content.plate
        var creatime = data.content.created_time
        var avatar = data.content.avatar
       // console.log(abc)
        //console.log(plate)
      // console.log(data.content[0].content)
        var text = data.content.content  //获取要转换的文字
        //console.log(text)
        var converter = new showdown.Converter()  //创建实例
        html= converter.makeHtml(text);  //进行转换
        //console.log(html)
       // $("#art").html(data.content[0].content)
       //转换时间
       var date = new Date(creatime)
       //console.log(date)
       var year = date.getFullYear(); //年
       var month = date.getMonth()+1;    //js从0开始取 
       var day = date.getDate(); //日
       var hour = date.getHours(); 
       var minutes = date.getMinutes(); 
       var second = date.getSeconds();
       //console.log(year+"年"+month+"月"+day+"日  "+hour+":"+minutes +":"+second+" ")
       var time = year+"年"+month+"月"+day+"日  "+hour+":"+minutes +":"+second+" ";
       document.getElementById("content_topic").innerHTML = topic;
       document.getElementById("content_plate").innerHTML = plate;
       document.getElementById("content_time").innerHTML = time;
       document.getElementById("art").innerHTML = html;
      //  // console.log(data.content)
      }
    }
  })
</script>

{{/block}}
